node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
# Ignore arquivos do sistema

.idea/
.vscode/
*.log
*.lock
.env

# Ignorar arquivos temporários e de sistema do Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
ntuser.dat
ntuser.ini
